@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";

.home-header {
  border-bottom: 1px solid rgba(47,0,121,0.1);
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-area: header;

  &__title {
    font-weight: $font-bold;
    font-style: $font-italic;
    color: $color-brand;
    font-size: 21px;
    line-height: 24px;
  }
}