@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";

.home {
  text-align: center;
  background-color: $color-bg-light;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}
