@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";

.home-main {
  grid-area: main;
  margin: 0 30px; 
}

.id-card {
  padding-top: 32px;
  max-width: 500px;
  margin: 0 auto;

  &__title {
    font-size: 21px;
    font-weight: $font-bold;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 27px;
  }

  &__img-container {
    position: relative;
    padding: 18px 0;
    border-radius: 12px;
    box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.15);
  }

  &__image {
    width: 70%;
    height: auto;
    max-width: 400px;
  }

  &__btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 48px;
    background-color: $color-brand;
    border: none;
    color: $color-font-secondary;
    text-transform: uppercase;
    font-family: $font-main;
    border-radius: 24px;
    font-weight: $font-bold;
    font-size: 1rem;
    padding: 12px 20px;
    box-shadow: 5px ​9px 3px -5px rgba(0,0,0,0.15);
  }
}

.accepted {
  border: 2px solid $color-accepted;
}

.rejected {
  border: 2px solid $color-rejected;
}

.hidden {
  display: none;
}