@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

body {
  margin: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-font-main;
  line-height: 24px;
  font-size: 1rem;
}
