// Fonts
$font-main: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-regular: 700;
$font-italic-bold: italic;

// Colors
$color-brand: #2F0079;
$color-rejected: #C00000;
$color-accepted: #69CC8B;

// Font colors
$color-font-main: #000000;
$color-font-secondary: #FFFFFF;
$color-font-brand: #2F0079;


