// Fonts
$font-main: 'Roboto', sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-italic: italic;

// Colors
$color-brand: #2F0079;
$color-rejected: #C00000;
$color-accepted: #69CC8B;
$color-bg-light: #FFFFFF;
$color-bg-dark: rgba(0, 0, 0, 0.8);

// Font colors
$color-font-main: #000000;
$color-font-secondary: #FFFFFF;
$color-font-brand: #2F0079;


